body {
  background-color: wheat;
}

.blinking-cursor {
  animation: blinking-cursor 1s infinite;
}

@keyframes blinking-cursor {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
